.resetButton,
.submitButton,
.themeButton {
  height: 36px;
}

.resetButton {
  margin: 1em 1em 2em auto;
  width: 4em;
}

.resetButton {
  border: none;
  background: rgb(37, 159, 239);
}

.resetButton:hover {
  background: rgb(25, 108, 164);
}

.submitButton {
  margin: 1em 1em 2em auto;
  width: 4em;
}

.submitButton {
  border: none;
  background: rgb(37, 159, 239);
}

.submitButton:hover {
  background: rgb(25, 108, 164);
}

.themeButton {
  margin: 1em 1em 2em auto;
  width: 8em;
  border: none;
  background: rgb(96, 100, 100);
}

.themeButton:hover {
  background: rgb(46, 46, 46);
}

.cameraIcon {
  width: 36px;
  height: 36px;
  display: inline-block;
  animation: clickMe 5s infinite;
  animation-delay: 2s;
  cursor: pointer;
}

.cameraIcon .img {
  width: 100%;
  display: block;
  position: relative;
  bottom: 10px;
  height: 100%;
}

.cameraIcon .img:active {
  animation: rotation 0.5s ease-in-out;
}

.cameraIcon .img img {
  width: 32px;
  height: 32px;
}

.cameraIcon .img::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  left: -20px;
  top: -20px;
  position: absolute;
}

h3 {
  display: inline-block;
}

#mute,
#volume {
  width: 42px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 28px;
}

#mute {
  right: 4px;
  top: 28.3px;
}

@keyframes rotation {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes clickMe {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(15deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@media only screen and (max-width: 423px) {
  .submitAndThemeButtonContainer {
    position: relative;
  }

  .themeButton,
  .submitButton, .resetButton {
    margin: 0;
    margin-top: 1em;
  }
  .themeButton {
    margin-right: 0;
    word-wrap: break-word;
    height: auto;
    max-width: 5em;
    margin-left: auto;
    margin-bottom: 2em;
  }

  .submitButton {
    margin-bottom: 2em;
    height: auto;
  }
  .resetButton{
    margin-bottom: 2em;
    height: 3.6em;
    margin-right: 1em;
  }

  .cameraIcon{
    margin-left: 1em;
  }
}
