#cmtTable {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 1.2em 0 1.2em;
  gap: 5px;
  width: 100%;
  max-width: 32em;
  text-align: center;
  margin: auto auto 2em auto;
}

.field {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
}

span {
  width: 40px;
  height: 40px;
  line-height: 38px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
}

.game {
  position: relative;
  z-index: 1;
  margin: auto;
  padding: 2em 2em 0 2em;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 30px;
}

h3 {
  padding-bottom: 1em;
}
