.darker {
  background: rgb(83, 86, 104);
  border: 4px solid rgb(81, 109, 123);
}

.lighter {
  background: rgb(255, 255, 255);
  border: 4px solid rgb(138, 174, 191);
}

.bg-light {
  color: black;
  background-color: rgb(238, 242, 255) !important;
}

.bg-gray {
  background-color: rgb(71 73 88);
}

.success-dark {
  background: rgb(106, 141, 106);
}

.success-light {
  background: rgb(174, 236, 174);
}

.no-success-dark {
  background: rgb(190, 97, 97);
  color: white;
}

.no-success-light {
  background: rgb(245, 122, 122);
}

.dark-input {
  background-color: #e5e6e9 !important;
}
