@import url(./styles/buttons.css);
@import url(./styles/gameTable.css);
@import url(./styles/result.css);
@import url(./styles/theme.css);
@import url(./styles/stars.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

html,
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: 100vh;
}

#root {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

a{
  text-decoration: none;
}

a:hover{
  color: rgb(8, 177, 233);
}
