:root {
    --color: #2cb4f1;
  }

body,
ul {
  margin: 0;
  padding: 0;
}
a {
  color: var(--color);
  text-decoration: none;
  font-family: sans-serif;
  transition: 0.6s;
}
a:hover {
  color: gray;
}


#logo {
  font-size: 1.5rem;
  font-weight: bold;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}
#menu a {
  display: block;
  padding: 0.5rem;
}
#btn {
  display: none;
}
@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #000;
    height: 0px;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
  }
  #btn {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid;
    color: var(--color);
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/*--------------star animation--------------------*/

html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: var(--color);
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#stars {
  width: 1px;
  height: 1px;
  display: block;
  z-index: -1;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px var(--color), 324px 42px var(--color), 303px 586px var(--color),
    1312px 276px var(--color), 451px 625px var(--color), 521px 1931px var(--color), 1087px 1871px var(--color),
    36px 1546px var(--color), 132px 934px var(--color), 1698px 901px var(--color), 1418px 664px var(--color),
    1448px 1157px var(--color), 1084px 232px var(--color), 347px 1776px var(--color), 1722px 243px var(--color),
    1629px 835px var(--color), 479px 969px var(--color), 1231px 960px var(--color), 586px 384px var(--color),
    164px 527px var(--color), 8px 646px var(--color), 1150px 1126px var(--color), 665px 1357px var(--color),
    1556px 1982px var(--color), 1260px 1961px var(--color), 1675px 1741px var(--color),
    1843px 1514px var(--color), 718px 1628px var(--color), 242px 1343px var(--color), 1497px 1880px var(--color),
    1364px 230px var(--color), 1739px 1302px var(--color), 636px 959px var(--color), 304px 686px var(--color),
    614px 751px var(--color), 1935px 816px var(--color), 1428px 60px var(--color), 355px 335px var(--color),
    1594px 158px var(--color), 90px 60px var(--color), 1553px 162px var(--color), 1239px 1825px var(--color),
    1945px 587px var(--color), 749px 1785px var(--color), 1987px 1172px var(--color), 1301px 1237px var(--color),
    1039px 342px var(--color), 1585px 1481px var(--color), 995px 1048px var(--color), 524px 932px var(--color),
    214px 413px var(--color), 1701px 1300px var(--color), 1037px 1613px var(--color), 1871px 996px var(--color),
    1360px 1635px var(--color), 1110px 1313px var(--color), 412px 1783px var(--color), 1949px 177px var(--color),
    903px 1854px var(--color), 700px 1936px var(--color), 378px 125px var(--color), 308px 834px var(--color),
    1118px 962px var(--color), 1350px 1929px var(--color), 781px 1811px var(--color), 561px 137px var(--color),
    757px 1148px var(--color), 1670px 1979px var(--color), 343px 739px var(--color), 945px 795px var(--color),
    576px 1903px var(--color), 1078px 1436px var(--color), 1583px 450px var(--color), 1366px 474px var(--color),
    297px 1873px var(--color), 192px 162px var(--color), 1624px 1633px var(--color), 59px 453px var(--color),
    82px 1872px var(--color), 1933px 498px var(--color), 1966px 1974px var(--color), 1975px 1688px var(--color),
    779px 314px var(--color), 1858px 1543px var(--color), 73px 1507px var(--color), 1693px 975px var(--color),
    1683px 108px var(--color), 1768px 1654px var(--color), 654px 14px var(--color), 494px 171px var(--color),
    1689px 1895px var(--color), 1660px 263px var(--color), 1031px 903px var(--color), 1203px 1393px var(--color),
    1333px 1421px var(--color), 1113px 41px var(--color), 1206px 1645px var(--color), 1325px 1635px var(--color),
    142px 388px var(--color), 572px 215px var(--color), 1535px 296px var(--color), 1419px 407px var(--color),
    1379px 1003px var(--color), 329px 469px var(--color), 1791px 1652px var(--color), 935px 1802px var(--color),
    1330px 1820px var(--color), 421px 1933px var(--color), 828px 365px var(--color), 275px 316px var(--color),
    707px 960px var(--color), 1605px 1554px var(--color), 625px 58px var(--color), 717px 1697px var(--color),
    1669px 246px var(--color), 1925px 322px var(--color), 1154px 1803px var(--color), 1929px 295px var(--color),
    1248px 240px var(--color), 1045px 1755px var(--color), 166px 942px var(--color), 1888px 1773px var(--color),
    678px 1963px var(--color), 1370px 569px var(--color), 1974px 1400px var(--color), 1786px 460px var(--color),
    51px 307px var(--color), 784px 1400px var(--color), 730px 1258px var(--color), 1712px 393px var(--color),
    416px 170px var(--color), 1797px 1932px var(--color), 572px 219px var(--color), 1557px 1856px var(--color),
    218px 8px var(--color), 348px 1334px var(--color), 469px 413px var(--color), 385px 1738px var(--color),
    1357px 1818px var(--color), 240px 942px var(--color), 248px 1847px var(--color), 1535px 806px var(--color),
    236px 1514px var(--color), 1429px 1556px var(--color), 73px 1633px var(--color), 1398px 1121px var(--color),
    671px 1301px var(--color), 1404px 1663px var(--color), 740px 1018px var(--color), 1600px 377px var(--color),
    785px 514px var(--color), 112px 1084px var(--color), 1915px 1887px var(--color), 1463px 1848px var(--color),
    687px 1115px var(--color), 1268px 1768px var(--color), 1729px 1425px var(--color),
    1284px 1022px var(--color), 801px 974px var(--color), 1975px 1317px var(--color), 1354px 834px var(--color),
    1446px 1484px var(--color), 1283px 1786px var(--color), 11px 523px var(--color), 1842px 236px var(--color),
    1355px 654px var(--color), 429px 7px var(--color), 1033px 1128px var(--color), 157px 297px var(--color),
    545px 635px var(--color), 52px 1080px var(--color), 827px 1520px var(--color), 1121px 490px var(--color),
    9px 309px var(--color), 1744px 1586px var(--color), 1014px 417px var(--color), 1534px 524px var(--color),
    958px 552px var(--color), 1403px 1496px var(--color), 387px 703px var(--color), 1522px 548px var(--color),
    1355px 282px var(--color), 1532px 601px var(--color), 1838px 790px var(--color), 290px 259px var(--color),
    295px 598px var(--color), 1601px 539px var(--color), 1561px 1272px var(--color), 34px 1922px var(--color),
    1024px 543px var(--color), 467px 369px var(--color), 722px 333px var(--color), 1976px 1255px var(--color),
    766px 983px var(--color), 1582px 1285px var(--color), 12px 512px var(--color), 617px 1410px var(--color),
    682px 577px var(--color), 1334px 1438px var(--color), 439px 327px var(--color), 1617px 1661px var(--color),
    673px 129px var(--color), 794px 941px var(--color), 1386px 1902px var(--color), 37px 1353px var(--color),
    1467px 1353px var(--color), 416px 18px var(--color), 187px 344px var(--color), 200px 1898px var(--color),
    1491px 1619px var(--color), 811px 347px var(--color), 924px 1827px var(--color), 945px 217px var(--color),
    1735px 1228px var(--color), 379px 1890px var(--color), 79px 761px var(--color), 825px 1837px var(--color),
    1980px 1558px var(--color), 1308px 1573px var(--color), 1488px 1726px var(--color),
    382px 1208px var(--color), 522px 595px var(--color), 1277px 1898px var(--color), 354px 552px var(--color),
    161px 1784px var(--color), 614px 251px var(--color), 526px 1576px var(--color), 17px 212px var(--color),
    179px 996px var(--color), 467px 1208px var(--color), 1944px 1838px var(--color), 1140px 1093px var(--color),
    858px 1007px var(--color), 200px 1064px var(--color), 423px 1964px var(--color), 1945px 439px var(--color),
    1377px 689px var(--color), 1120px 1437px var(--color), 1876px 668px var(--color), 907px 1324px var(--color),
    343px 1976px var(--color), 1816px 1501px var(--color), 1849px 177px var(--color), 647px 91px var(--color),
    1984px 1012px var(--color), 1336px 1300px var(--color), 128px 648px var(--color), 305px 1060px var(--color),
    1324px 826px var(--color), 1263px 1314px var(--color), 1801px 629px var(--color), 1614px 1555px var(--color),
    1634px 90px var(--color), 1603px 452px var(--color), 891px 1984px var(--color), 1556px 1906px var(--color),
    121px 68px var(--color), 1676px 1714px var(--color), 516px 936px var(--color), 1947px 1492px var(--color),
    1455px 1519px var(--color), 45px 602px var(--color), 205px 1039px var(--color), 793px 172px var(--color),
    1562px 1739px var(--color), 1056px 110px var(--color), 1512px 379px var(--color), 1795px 1621px var(--color),
    1848px 607px var(--color), 262px 1719px var(--color), 477px 991px var(--color), 483px 883px var(--color),
    1239px 1197px var(--color), 1496px 647px var(--color), 1649px 25px var(--color), 1491px 1946px var(--color),
    119px 996px var(--color), 179px 1472px var(--color), 1341px 808px var(--color), 1565px 1700px var(--color),
    407px 1544px var(--color), 1754px 357px var(--color), 1288px 981px var(--color), 902px 1997px var(--color),
    1755px 1668px var(--color), 186px 877px var(--color), 1202px 1882px var(--color), 461px 1213px var(--color),
    1400px 748px var(--color), 1969px 1899px var(--color), 809px 522px var(--color), 514px 1219px var(--color),
    374px 275px var(--color), 938px 1973px var(--color), 357px 552px var(--color), 144px 1722px var(--color),
    1572px 912px var(--color), 402px 1858px var(--color), 1544px 1195px var(--color), 667px 1257px var(--color),
    727px 1496px var(--color), 993px 232px var(--color), 1772px 313px var(--color), 1040px 1590px var(--color),
    1204px 1973px var(--color), 1268px 79px var(--color), 1555px 1048px var(--color), 986px 1707px var(--color),
    978px 1710px var(--color), 713px 360px var(--color), 407px 863px var(--color), 461px 736px var(--color),
    284px 1608px var(--color), 103px 430px var(--color), 1283px 1319px var(--color), 977px 1186px var(--color),
    1966px 1516px var(--color), 1287px 1129px var(--color), 70px 1098px var(--color), 1189px 889px var(--color),
    1126px 1734px var(--color), 309px 1292px var(--color), 879px 764px var(--color), 65px 473px var(--color),
    1003px 1959px var(--color), 658px 791px var(--color), 402px 1576px var(--color), 35px 622px var(--color),
    529px 1589px var(--color), 164px 666px var(--color), 1876px 1290px var(--color), 1541px 526px var(--color),
    270px 1297px var(--color), 440px 865px var(--color), 1500px 802px var(--color), 182px 1754px var(--color),
    1264px 892px var(--color), 272px 1249px var(--color), 1289px 1535px var(--color), 190px 1646px var(--color),
    955px 242px var(--color), 1456px 1597px var(--color), 1727px 1983px var(--color), 635px 801px var(--color),
    226px 455px var(--color), 1396px 1710px var(--color), 849px 1863px var(--color), 237px 1264px var(--color),
    839px 140px var(--color), 1122px 735px var(--color), 1280px 15px var(--color), 1318px 242px var(--color),
    1819px 1148px var(--color), 333px 1392px var(--color), 1949px 553px var(--color), 1878px 1332px var(--color),
    467px 548px var(--color), 1812px 1082px var(--color), 1067px 193px var(--color), 243px 156px var(--color),
    483px 1616px var(--color), 1714px 933px var(--color), 759px 1800px var(--color), 1822px 995px var(--color),
    1877px 572px var(--color), 581px 1084px var(--color), 107px 732px var(--color), 642px 1837px var(--color),
    166px 1493px var(--color), 1555px 198px var(--color), 819px 307px var(--color), 947px 345px var(--color),
    827px 224px var(--color), 927px 1394px var(--color), 540px 467px var(--color), 1093px 405px var(--color),
    1140px 927px var(--color), 130px 529px var(--color), 33px 1980px var(--color), 1147px 1663px var(--color),
    1616px 1436px var(--color), 528px 710px var(--color), 798px 1100px var(--color), 505px 1480px var(--color),
    899px 641px var(--color), 1909px 1949px var(--color), 1311px 964px var(--color), 979px 1301px var(--color),
    1393px 969px var(--color), 1793px 1886px var(--color), 292px 357px var(--color), 1196px 1718px var(--color),
    1290px 1994px var(--color), 537px 1973px var(--color), 1181px 1674px var(--color),
    1740px 1566px var(--color), 1307px 265px var(--color), 922px 522px var(--color), 1892px 472px var(--color),
    384px 1746px var(--color), 392px 1098px var(--color), 647px 548px var(--color), 390px 1498px var(--color),
    1246px 138px var(--color), 730px 876px var(--color), 192px 1472px var(--color), 1790px 1789px var(--color),
    928px 311px var(--color), 1253px 1647px var(--color), 747px 1921px var(--color), 1561px 1025px var(--color),
    1533px 1292px var(--color), 1985px 195px var(--color), 728px 729px var(--color), 1712px 1936px var(--color),
    512px 1717px var(--color), 1528px 483px var(--color), 313px 1642px var(--color), 281px 1849px var(--color),
    1212px 799px var(--color), 435px 1191px var(--color), 1422px 611px var(--color), 1718px 1964px var(--color),
    411px 944px var(--color), 210px 636px var(--color), 1502px 1295px var(--color), 1434px 349px var(--color),
    769px 60px var(--color), 747px 1053px var(--color), 789px 504px var(--color), 1436px 1264px var(--color),
    1893px 1225px var(--color), 1394px 1788px var(--color), 1108px 1317px var(--color),
    1673px 1395px var(--color), 854px 1010px var(--color), 1705px 80px var(--color), 1858px 148px var(--color),
    1729px 344px var(--color), 1388px 664px var(--color), 895px 406px var(--color), 1479px 157px var(--color),
    1441px 1157px var(--color), 552px 1900px var(--color), 516px 364px var(--color), 1647px 189px var(--color),
    1427px 1071px var(--color), 785px 729px var(--color), 1080px 1710px var(--color), 504px 204px var(--color),
    1177px 1622px var(--color), 657px 34px var(--color), 1296px 1099px var(--color), 248px 180px var(--color),
    1212px 1568px var(--color), 667px 1562px var(--color), 695px 841px var(--color), 1608px 1247px var(--color),
    751px 882px var(--color), 87px 167px var(--color), 607px 1368px var(--color), 1363px 1203px var(--color),
    1836px 317px var(--color), 1668px 1703px var(--color), 830px 1154px var(--color), 1721px 1398px var(--color),
    1601px 1280px var(--color), 976px 874px var(--color), 1743px 254px var(--color), 1020px 1815px var(--color),
    1670px 1766px var(--color), 1890px 735px var(--color), 1379px 136px var(--color), 1864px 695px var(--color),
    206px 965px var(--color), 1404px 1932px var(--color), 1923px 1360px var(--color), 247px 682px var(--color),
    519px 1708px var(--color), 645px 750px var(--color), 1164px 1204px var(--color), 834px 323px var(--color),
    172px 1350px var(--color), 213px 972px var(--color), 1837px 190px var(--color), 285px 1806px var(--color),
    1047px 1299px var(--color), 1548px 825px var(--color), 1730px 324px var(--color), 1346px 1909px var(--color),
    772px 270px var(--color), 345px 1190px var(--color), 478px 1433px var(--color), 1479px 25px var(--color),
    1994px 1830px var(--color), 1744px 732px var(--color), 20px 1635px var(--color), 690px 1795px var(--color),
    1594px 569px var(--color), 579px 245px var(--color), 1398px 733px var(--color), 408px 1352px var(--color),
    1774px 120px var(--color), 1152px 1370px var(--color), 1698px 1810px var(--color), 710px 1450px var(--color),
    665px 286px var(--color), 493px 1720px var(--color), 786px 5px var(--color), 637px 1140px var(--color),
    764px 324px var(--color), 927px 310px var(--color), 938px 1424px var(--color), 1884px 744px var(--color),
    913px 462px var(--color), 1831px 1936px var(--color), 1527px 249px var(--color), 36px 1381px var(--color),
    1597px 581px var(--color), 1530px 355px var(--color), 949px 459px var(--color), 799px 828px var(--color),
    242px 1471px var(--color), 654px 797px var(--color), 796px 594px var(--color), 1365px 678px var(--color),
    752px 23px var(--color), 1630px 541px var(--color), 982px 72px var(--color), 1733px 1831px var(--color),
    21px 412px var(--color), 775px 998px var(--color), 335px 1945px var(--color), 264px 583px var(--color),
    158px 1311px var(--color), 528px 164px var(--color), 1978px 574px var(--color), 717px 1203px var(--color),
    734px 1591px var(--color), 1555px 820px var(--color), 16px 1943px var(--color), 1625px 1177px var(--color),
    1236px 690px var(--color), 1585px 1590px var(--color), 1737px 1728px var(--color), 721px 698px var(--color),
    1804px 1186px var(--color), 166px 980px var(--color), 1850px 230px var(--color), 330px 1712px var(--color),
    95px 797px var(--color), 1948px 1078px var(--color), 469px 939px var(--color), 1269px 1899px var(--color),
    955px 1220px var(--color), 1137px 1075px var(--color), 312px 1293px var(--color), 986px 1762px var(--color),
    1103px 1238px var(--color), 428px 1993px var(--color), 355px 570px var(--color), 977px 1836px var(--color),
    1395px 1092px var(--color), 276px 913px var(--color), 1743px 656px var(--color), 773px 502px var(--color),
    1686px 1322px var(--color), 1516px 1945px var(--color), 1334px 501px var(--color), 266px 156px var(--color),
    455px 655px var(--color), 798px 72px var(--color), 1059px 1259px var(--color), 1402px 1687px var(--color),
    236px 1329px var(--color), 1455px 786px var(--color), 146px 1228px var(--color), 1851px 823px var(--color),
    1062px 100px var(--color), 1220px 953px var(--color), 20px 1826px var(--color), 36px 1063px var(--color),
    1525px 338px var(--color), 790px 1521px var(--color), 741px 1099px var(--color), 288px 1489px var(--color),
    700px 1060px var(--color), 390px 1071px var(--color), 411px 1036px var(--color), 1853px 1072px var(--color),
    1446px 1085px var(--color), 1164px 874px var(--color), 924px 925px var(--color), 291px 271px var(--color),
    1257px 1964px var(--color), 1580px 1352px var(--color), 1507px 1216px var(--color), 211px 956px var(--color),
    985px 1195px var(--color), 975px 1640px var(--color), 518px 101px var(--color), 663px 1395px var(--color),
    914px 532px var(--color), 145px 1320px var(--color), 69px 1397px var(--color), 982px 523px var(--color),
    257px 725px var(--color), 1599px 831px var(--color), 1636px 1513px var(--color), 1250px 1158px var(--color),
    1132px 604px var(--color), 183px 102px var(--color), 1057px 318px var(--color), 1247px 1835px var(--color),
    1983px 1110px var(--color), 1077px 1455px var(--color), 921px 1770px var(--color), 806px 1350px var(--color),
    1938px 1992px var(--color), 855px 1260px var(--color), 902px 1345px var(--color), 658px 1908px var(--color),
    1845px 679px var(--color), 712px 1482px var(--color), 595px 950px var(--color), 1784px 1992px var(--color),
    1847px 1785px var(--color), 691px 1004px var(--color), 175px 1179px var(--color), 1666px 1911px var(--color),
    41px 61px var(--color), 971px 1080px var(--color), 1830px 1450px var(--color), 1351px 1518px var(--color),
    1257px 99px var(--color), 1395px 1498px var(--color), 1117px 252px var(--color), 1779px 597px var(--color),
    1346px 729px var(--color), 1108px 1144px var(--color), 402px 691px var(--color), 72px 496px var(--color),
    1673px 1604px var(--color), 1497px 974px var(--color), 1865px 1664px var(--color), 88px 806px var(--color),
    918px 77px var(--color), 244px 1118px var(--color), 256px 1820px var(--color), 1851px 1840px var(--color),
    605px 1851px var(--color), 634px 383px var(--color), 865px 37px var(--color), 943px 1024px var(--color),
    1951px 177px var(--color), 1097px 523px var(--color), 985px 1700px var(--color), 1243px 122px var(--color),
    768px 1070px var(--color), 468px 194px var(--color), 320px 1867px var(--color), 1850px 185px var(--color),
    380px 1616px var(--color), 468px 1294px var(--color), 1122px 1743px var(--color), 884px 299px var(--color),
    1300px 1917px var(--color), 1860px 396px var(--color), 1270px 990px var(--color), 529px 733px var(--color),
    1975px 1347px var(--color), 1885px 685px var(--color), 226px 506px var(--color), 651px 878px var(--color),
    1323px 680px var(--color), 1284px 680px var(--color), 238px 1967px var(--color), 911px 174px var(--color),
    1111px 521px var(--color), 1150px 85px var(--color), 794px 502px var(--color), 484px 1856px var(--color),
    1809px 368px var(--color), 112px 953px var(--color), 590px 1009px var(--color), 1655px 311px var(--color),
    100px 1026px var(--color), 1803px 352px var(--color), 865px 306px var(--color), 1077px 1019px var(--color),
    1335px 872px var(--color), 1647px 1298px var(--color), 1233px 1387px var(--color), 698px 1036px var(--color),
    659px 1860px var(--color), 388px 1412px var(--color), 1212px 458px var(--color), 755px 1468px var(--color),
    696px 1654px var(--color), 1144px 60px var(--color);
}

#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px var(--color), 324px 42px var(--color), 303px 586px var(--color),
    1312px 276px var(--color), 451px 625px var(--color), 521px 1931px var(--color), 1087px 1871px var(--color),
    36px 1546px var(--color), 132px 934px var(--color), 1698px 901px var(--color), 1418px 664px var(--color),
    1448px 1157px var(--color), 1084px 232px var(--color), 347px 1776px var(--color), 1722px 243px var(--color),
    1629px 835px var(--color), 479px 969px var(--color), 1231px 960px var(--color), 586px 384px var(--color),
    164px 527px var(--color), 8px 646px var(--color), 1150px 1126px var(--color), 665px 1357px var(--color),
    1556px 1982px var(--color), 1260px 1961px var(--color), 1675px 1741px var(--color),
    1843px 1514px var(--color), 718px 1628px var(--color), 242px 1343px var(--color), 1497px 1880px var(--color),
    1364px 230px var(--color), 1739px 1302px var(--color), 636px 959px var(--color), 304px 686px var(--color),
    614px 751px var(--color), 1935px 816px var(--color), 1428px 60px var(--color), 355px 335px var(--color),
    1594px 158px var(--color), 90px 60px var(--color), 1553px 162px var(--color), 1239px 1825px var(--color),
    1945px 587px var(--color), 749px 1785px var(--color), 1987px 1172px var(--color), 1301px 1237px var(--color),
    1039px 342px var(--color), 1585px 1481px var(--color), 995px 1048px var(--color), 524px 932px var(--color),
    214px 413px var(--color), 1701px 1300px var(--color), 1037px 1613px var(--color), 1871px 996px var(--color),
    1360px 1635px var(--color), 1110px 1313px var(--color), 412px 1783px var(--color), 1949px 177px var(--color),
    903px 1854px var(--color), 700px 1936px var(--color), 378px 125px var(--color), 308px 834px var(--color),
    1118px 962px var(--color), 1350px 1929px var(--color), 781px 1811px var(--color), 561px 137px var(--color),
    757px 1148px var(--color), 1670px 1979px var(--color), 343px 739px var(--color), 945px 795px var(--color),
    576px 1903px var(--color), 1078px 1436px var(--color), 1583px 450px var(--color), 1366px 474px var(--color),
    297px 1873px var(--color), 192px 162px var(--color), 1624px 1633px var(--color), 59px 453px var(--color),
    82px 1872px var(--color), 1933px 498px var(--color), 1966px 1974px var(--color), 1975px 1688px var(--color),
    779px 314px var(--color), 1858px 1543px var(--color), 73px 1507px var(--color), 1693px 975px var(--color),
    1683px 108px var(--color), 1768px 1654px var(--color), 654px 14px var(--color), 494px 171px var(--color),
    1689px 1895px var(--color), 1660px 263px var(--color), 1031px 903px var(--color), 1203px 1393px var(--color),
    1333px 1421px var(--color), 1113px 41px var(--color), 1206px 1645px var(--color), 1325px 1635px var(--color),
    142px 388px var(--color), 572px 215px var(--color), 1535px 296px var(--color), 1419px 407px var(--color),
    1379px 1003px var(--color), 329px 469px var(--color), 1791px 1652px var(--color), 935px 1802px var(--color),
    1330px 1820px var(--color), 421px 1933px var(--color), 828px 365px var(--color), 275px 316px var(--color),
    707px 960px var(--color), 1605px 1554px var(--color), 625px 58px var(--color), 717px 1697px var(--color),
    1669px 246px var(--color), 1925px 322px var(--color), 1154px 1803px var(--color), 1929px 295px var(--color),
    1248px 240px var(--color), 1045px 1755px var(--color), 166px 942px var(--color), 1888px 1773px var(--color),
    678px 1963px var(--color), 1370px 569px var(--color), 1974px 1400px var(--color), 1786px 460px var(--color),
    51px 307px var(--color), 784px 1400px var(--color), 730px 1258px var(--color), 1712px 393px var(--color),
    416px 170px var(--color), 1797px 1932px var(--color), 572px 219px var(--color), 1557px 1856px var(--color),
    218px 8px var(--color), 348px 1334px var(--color), 469px 413px var(--color), 385px 1738px var(--color),
    1357px 1818px var(--color), 240px 942px var(--color), 248px 1847px var(--color), 1535px 806px var(--color),
    236px 1514px var(--color), 1429px 1556px var(--color), 73px 1633px var(--color), 1398px 1121px var(--color),
    671px 1301px var(--color), 1404px 1663px var(--color), 740px 1018px var(--color), 1600px 377px var(--color),
    785px 514px var(--color), 112px 1084px var(--color), 1915px 1887px var(--color), 1463px 1848px var(--color),
    687px 1115px var(--color), 1268px 1768px var(--color), 1729px 1425px var(--color),
    1284px 1022px var(--color), 801px 974px var(--color), 1975px 1317px var(--color), 1354px 834px var(--color),
    1446px 1484px var(--color), 1283px 1786px var(--color), 11px 523px var(--color), 1842px 236px var(--color),
    1355px 654px var(--color), 429px 7px var(--color), 1033px 1128px var(--color), 157px 297px var(--color),
    545px 635px var(--color), 52px 1080px var(--color), 827px 1520px var(--color), 1121px 490px var(--color),
    9px 309px var(--color), 1744px 1586px var(--color), 1014px 417px var(--color), 1534px 524px var(--color),
    958px 552px var(--color), 1403px 1496px var(--color), 387px 703px var(--color), 1522px 548px var(--color),
    1355px 282px var(--color), 1532px 601px var(--color), 1838px 790px var(--color), 290px 259px var(--color),
    295px 598px var(--color), 1601px 539px var(--color), 1561px 1272px var(--color), 34px 1922px var(--color),
    1024px 543px var(--color), 467px 369px var(--color), 722px 333px var(--color), 1976px 1255px var(--color),
    766px 983px var(--color), 1582px 1285px var(--color), 12px 512px var(--color), 617px 1410px var(--color),
    682px 577px var(--color), 1334px 1438px var(--color), 439px 327px var(--color), 1617px 1661px var(--color),
    673px 129px var(--color), 794px 941px var(--color), 1386px 1902px var(--color), 37px 1353px var(--color),
    1467px 1353px var(--color), 416px 18px var(--color), 187px 344px var(--color), 200px 1898px var(--color),
    1491px 1619px var(--color), 811px 347px var(--color), 924px 1827px var(--color), 945px 217px var(--color),
    1735px 1228px var(--color), 379px 1890px var(--color), 79px 761px var(--color), 825px 1837px var(--color),
    1980px 1558px var(--color), 1308px 1573px var(--color), 1488px 1726px var(--color),
    382px 1208px var(--color), 522px 595px var(--color), 1277px 1898px var(--color), 354px 552px var(--color),
    161px 1784px var(--color), 614px 251px var(--color), 526px 1576px var(--color), 17px 212px var(--color),
    179px 996px var(--color), 467px 1208px var(--color), 1944px 1838px var(--color), 1140px 1093px var(--color),
    858px 1007px var(--color), 200px 1064px var(--color), 423px 1964px var(--color), 1945px 439px var(--color),
    1377px 689px var(--color), 1120px 1437px var(--color), 1876px 668px var(--color), 907px 1324px var(--color),
    343px 1976px var(--color), 1816px 1501px var(--color), 1849px 177px var(--color), 647px 91px var(--color),
    1984px 1012px var(--color), 1336px 1300px var(--color), 128px 648px var(--color), 305px 1060px var(--color),
    1324px 826px var(--color), 1263px 1314px var(--color), 1801px 629px var(--color), 1614px 1555px var(--color),
    1634px 90px var(--color), 1603px 452px var(--color), 891px 1984px var(--color), 1556px 1906px var(--color),
    121px 68px var(--color), 1676px 1714px var(--color), 516px 936px var(--color), 1947px 1492px var(--color),
    1455px 1519px var(--color), 45px 602px var(--color), 205px 1039px var(--color), 793px 172px var(--color),
    1562px 1739px var(--color), 1056px 110px var(--color), 1512px 379px var(--color), 1795px 1621px var(--color),
    1848px 607px var(--color), 262px 1719px var(--color), 477px 991px var(--color), 483px 883px var(--color),
    1239px 1197px var(--color), 1496px 647px var(--color), 1649px 25px var(--color), 1491px 1946px var(--color),
    119px 996px var(--color), 179px 1472px var(--color), 1341px 808px var(--color), 1565px 1700px var(--color),
    407px 1544px var(--color), 1754px 357px var(--color), 1288px 981px var(--color), 902px 1997px var(--color),
    1755px 1668px var(--color), 186px 877px var(--color), 1202px 1882px var(--color), 461px 1213px var(--color),
    1400px 748px var(--color), 1969px 1899px var(--color), 809px 522px var(--color), 514px 1219px var(--color),
    374px 275px var(--color), 938px 1973px var(--color), 357px 552px var(--color), 144px 1722px var(--color),
    1572px 912px var(--color), 402px 1858px var(--color), 1544px 1195px var(--color), 667px 1257px var(--color),
    727px 1496px var(--color), 993px 232px var(--color), 1772px 313px var(--color), 1040px 1590px var(--color),
    1204px 1973px var(--color), 1268px 79px var(--color), 1555px 1048px var(--color), 986px 1707px var(--color),
    978px 1710px var(--color), 713px 360px var(--color), 407px 863px var(--color), 461px 736px var(--color),
    284px 1608px var(--color), 103px 430px var(--color), 1283px 1319px var(--color), 977px 1186px var(--color),
    1966px 1516px var(--color), 1287px 1129px var(--color), 70px 1098px var(--color), 1189px 889px var(--color),
    1126px 1734px var(--color), 309px 1292px var(--color), 879px 764px var(--color), 65px 473px var(--color),
    1003px 1959px var(--color), 658px 791px var(--color), 402px 1576px var(--color), 35px 622px var(--color),
    529px 1589px var(--color), 164px 666px var(--color), 1876px 1290px var(--color), 1541px 526px var(--color),
    270px 1297px var(--color), 440px 865px var(--color), 1500px 802px var(--color), 182px 1754px var(--color),
    1264px 892px var(--color), 272px 1249px var(--color), 1289px 1535px var(--color), 190px 1646px var(--color),
    955px 242px var(--color), 1456px 1597px var(--color), 1727px 1983px var(--color), 635px 801px var(--color),
    226px 455px var(--color), 1396px 1710px var(--color), 849px 1863px var(--color), 237px 1264px var(--color),
    839px 140px var(--color), 1122px 735px var(--color), 1280px 15px var(--color), 1318px 242px var(--color),
    1819px 1148px var(--color), 333px 1392px var(--color), 1949px 553px var(--color), 1878px 1332px var(--color),
    467px 548px var(--color), 1812px 1082px var(--color), 1067px 193px var(--color), 243px 156px var(--color),
    483px 1616px var(--color), 1714px 933px var(--color), 759px 1800px var(--color), 1822px 995px var(--color),
    1877px 572px var(--color), 581px 1084px var(--color), 107px 732px var(--color), 642px 1837px var(--color),
    166px 1493px var(--color), 1555px 198px var(--color), 819px 307px var(--color), 947px 345px var(--color),
    827px 224px var(--color), 927px 1394px var(--color), 540px 467px var(--color), 1093px 405px var(--color),
    1140px 927px var(--color), 130px 529px var(--color), 33px 1980px var(--color), 1147px 1663px var(--color),
    1616px 1436px var(--color), 528px 710px var(--color), 798px 1100px var(--color), 505px 1480px var(--color),
    899px 641px var(--color), 1909px 1949px var(--color), 1311px 964px var(--color), 979px 1301px var(--color),
    1393px 969px var(--color), 1793px 1886px var(--color), 292px 357px var(--color), 1196px 1718px var(--color),
    1290px 1994px var(--color), 537px 1973px var(--color), 1181px 1674px var(--color),
    1740px 1566px var(--color), 1307px 265px var(--color), 922px 522px var(--color), 1892px 472px var(--color),
    384px 1746px var(--color), 392px 1098px var(--color), 647px 548px var(--color), 390px 1498px var(--color),
    1246px 138px var(--color), 730px 876px var(--color), 192px 1472px var(--color), 1790px 1789px var(--color),
    928px 311px var(--color), 1253px 1647px var(--color), 747px 1921px var(--color), 1561px 1025px var(--color),
    1533px 1292px var(--color), 1985px 195px var(--color), 728px 729px var(--color), 1712px 1936px var(--color),
    512px 1717px var(--color), 1528px 483px var(--color), 313px 1642px var(--color), 281px 1849px var(--color),
    1212px 799px var(--color), 435px 1191px var(--color), 1422px 611px var(--color), 1718px 1964px var(--color),
    411px 944px var(--color), 210px 636px var(--color), 1502px 1295px var(--color), 1434px 349px var(--color),
    769px 60px var(--color), 747px 1053px var(--color), 789px 504px var(--color), 1436px 1264px var(--color),
    1893px 1225px var(--color), 1394px 1788px var(--color), 1108px 1317px var(--color),
    1673px 1395px var(--color), 854px 1010px var(--color), 1705px 80px var(--color), 1858px 148px var(--color),
    1729px 344px var(--color), 1388px 664px var(--color), 895px 406px var(--color), 1479px 157px var(--color),
    1441px 1157px var(--color), 552px 1900px var(--color), 516px 364px var(--color), 1647px 189px var(--color),
    1427px 1071px var(--color), 785px 729px var(--color), 1080px 1710px var(--color), 504px 204px var(--color),
    1177px 1622px var(--color), 657px 34px var(--color), 1296px 1099px var(--color), 248px 180px var(--color),
    1212px 1568px var(--color), 667px 1562px var(--color), 695px 841px var(--color), 1608px 1247px var(--color),
    751px 882px var(--color), 87px 167px var(--color), 607px 1368px var(--color), 1363px 1203px var(--color),
    1836px 317px var(--color), 1668px 1703px var(--color), 830px 1154px var(--color), 1721px 1398px var(--color),
    1601px 1280px var(--color), 976px 874px var(--color), 1743px 254px var(--color), 1020px 1815px var(--color),
    1670px 1766px var(--color), 1890px 735px var(--color), 1379px 136px var(--color), 1864px 695px var(--color),
    206px 965px var(--color), 1404px 1932px var(--color), 1923px 1360px var(--color), 247px 682px var(--color),
    519px 1708px var(--color), 645px 750px var(--color), 1164px 1204px var(--color), 834px 323px var(--color),
    172px 1350px var(--color), 213px 972px var(--color), 1837px 190px var(--color), 285px 1806px var(--color),
    1047px 1299px var(--color), 1548px 825px var(--color), 1730px 324px var(--color), 1346px 1909px var(--color),
    772px 270px var(--color), 345px 1190px var(--color), 478px 1433px var(--color), 1479px 25px var(--color),
    1994px 1830px var(--color), 1744px 732px var(--color), 20px 1635px var(--color), 690px 1795px var(--color),
    1594px 569px var(--color), 579px 245px var(--color), 1398px 733px var(--color), 408px 1352px var(--color),
    1774px 120px var(--color), 1152px 1370px var(--color), 1698px 1810px var(--color), 710px 1450px var(--color),
    665px 286px var(--color), 493px 1720px var(--color), 786px 5px var(--color), 637px 1140px var(--color),
    764px 324px var(--color), 927px 310px var(--color), 938px 1424px var(--color), 1884px 744px var(--color),
    913px 462px var(--color), 1831px 1936px var(--color), 1527px 249px var(--color), 36px 1381px var(--color),
    1597px 581px var(--color), 1530px 355px var(--color), 949px 459px var(--color), 799px 828px var(--color),
    242px 1471px var(--color), 654px 797px var(--color), 796px 594px var(--color), 1365px 678px var(--color),
    752px 23px var(--color), 1630px 541px var(--color), 982px 72px var(--color), 1733px 1831px var(--color),
    21px 412px var(--color), 775px 998px var(--color), 335px 1945px var(--color), 264px 583px var(--color),
    158px 1311px var(--color), 528px 164px var(--color), 1978px 574px var(--color), 717px 1203px var(--color),
    734px 1591px var(--color), 1555px 820px var(--color), 16px 1943px var(--color), 1625px 1177px var(--color),
    1236px 690px var(--color), 1585px 1590px var(--color), 1737px 1728px var(--color), 721px 698px var(--color),
    1804px 1186px var(--color), 166px 980px var(--color), 1850px 230px var(--color), 330px 1712px var(--color),
    95px 797px var(--color), 1948px 1078px var(--color), 469px 939px var(--color), 1269px 1899px var(--color),
    955px 1220px var(--color), 1137px 1075px var(--color), 312px 1293px var(--color), 986px 1762px var(--color),
    1103px 1238px var(--color), 428px 1993px var(--color), 355px 570px var(--color), 977px 1836px var(--color),
    1395px 1092px var(--color), 276px 913px var(--color), 1743px 656px var(--color), 773px 502px var(--color),
    1686px 1322px var(--color), 1516px 1945px var(--color), 1334px 501px var(--color), 266px 156px var(--color),
    455px 655px var(--color), 798px 72px var(--color), 1059px 1259px var(--color), 1402px 1687px var(--color),
    236px 1329px var(--color), 1455px 786px var(--color), 146px 1228px var(--color), 1851px 823px var(--color),
    1062px 100px var(--color), 1220px 953px var(--color), 20px 1826px var(--color), 36px 1063px var(--color),
    1525px 338px var(--color), 790px 1521px var(--color), 741px 1099px var(--color), 288px 1489px var(--color),
    700px 1060px var(--color), 390px 1071px var(--color), 411px 1036px var(--color), 1853px 1072px var(--color),
    1446px 1085px var(--color), 1164px 874px var(--color), 924px 925px var(--color), 291px 271px var(--color),
    1257px 1964px var(--color), 1580px 1352px var(--color), 1507px 1216px var(--color), 211px 956px var(--color),
    985px 1195px var(--color), 975px 1640px var(--color), 518px 101px var(--color), 663px 1395px var(--color),
    914px 532px var(--color), 145px 1320px var(--color), 69px 1397px var(--color), 982px 523px var(--color),
    257px 725px var(--color), 1599px 831px var(--color), 1636px 1513px var(--color), 1250px 1158px var(--color),
    1132px 604px var(--color), 183px 102px var(--color), 1057px 318px var(--color), 1247px 1835px var(--color),
    1983px 1110px var(--color), 1077px 1455px var(--color), 921px 1770px var(--color), 806px 1350px var(--color),
    1938px 1992px var(--color), 855px 1260px var(--color), 902px 1345px var(--color), 658px 1908px var(--color),
    1845px 679px var(--color), 712px 1482px var(--color), 595px 950px var(--color), 1784px 1992px var(--color),
    1847px 1785px var(--color), 691px 1004px var(--color), 175px 1179px var(--color), 1666px 1911px var(--color),
    41px 61px var(--color), 971px 1080px var(--color), 1830px 1450px var(--color), 1351px 1518px var(--color),
    1257px 99px var(--color), 1395px 1498px var(--color), 1117px 252px var(--color), 1779px 597px var(--color),
    1346px 729px var(--color), 1108px 1144px var(--color), 402px 691px var(--color), 72px 496px var(--color),
    1673px 1604px var(--color), 1497px 974px var(--color), 1865px 1664px var(--color), 88px 806px var(--color),
    918px 77px var(--color), 244px 1118px var(--color), 256px 1820px var(--color), 1851px 1840px var(--color),
    605px 1851px var(--color), 634px 383px var(--color), 865px 37px var(--color), 943px 1024px var(--color),
    1951px 177px var(--color), 1097px 523px var(--color), 985px 1700px var(--color), 1243px 122px var(--color),
    768px 1070px var(--color), 468px 194px var(--color), 320px 1867px var(--color), 1850px 185px var(--color),
    380px 1616px var(--color), 468px 1294px var(--color), 1122px 1743px var(--color), 884px 299px var(--color),
    1300px 1917px var(--color), 1860px 396px var(--color), 1270px 990px var(--color), 529px 733px var(--color),
    1975px 1347px var(--color), 1885px 685px var(--color), 226px 506px var(--color), 651px 878px var(--color),
    1323px 680px var(--color), 1284px 680px var(--color), 238px 1967px var(--color), 911px 174px var(--color),
    1111px 521px var(--color), 1150px 85px var(--color), 794px 502px var(--color), 484px 1856px var(--color),
    1809px 368px var(--color), 112px 953px var(--color), 590px 1009px var(--color), 1655px 311px var(--color),
    100px 1026px var(--color), 1803px 352px var(--color), 865px 306px var(--color), 1077px 1019px var(--color),
    1335px 872px var(--color), 1647px 1298px var(--color), 1233px 1387px var(--color), 698px 1036px var(--color),
    659px 1860px var(--color), 388px 1412px var(--color), 1212px 458px var(--color), 755px 1468px var(--color),
    696px 1654px var(--color), 1144px 60px var(--color);
}

#stars2 {
  width: 2px;
  height: 2px;
  display: block;
  z-index: -1;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px var(--color), 1775px 1663px var(--color), 332px 1364px var(--color),
    878px 340px var(--color), 569px 1832px var(--color), 1422px 1684px var(--color), 1946px 1907px var(--color),
    121px 979px var(--color), 1044px 1069px var(--color), 463px 381px var(--color), 423px 112px var(--color),
    523px 1179px var(--color), 779px 654px var(--color), 1398px 694px var(--color), 1085px 1464px var(--color),
    1599px 1869px var(--color), 801px 1882px var(--color), 779px 1231px var(--color), 552px 932px var(--color),
    1057px 1196px var(--color), 282px 1280px var(--color), 496px 1986px var(--color), 1833px 1120px var(--color),
    1802px 1293px var(--color), 6px 1696px var(--color), 412px 1902px var(--color), 605px 438px var(--color),
    24px 1212px var(--color), 234px 1320px var(--color), 544px 344px var(--color), 1107px 170px var(--color),
    1603px 196px var(--color), 905px 648px var(--color), 68px 1458px var(--color), 649px 1969px var(--color),
    744px 675px var(--color), 1127px 478px var(--color), 714px 1814px var(--color), 1486px 526px var(--color),
    270px 1636px var(--color), 1931px 149px var(--color), 1807px 378px var(--color), 8px 390px var(--color),
    1415px 699px var(--color), 1473px 1211px var(--color), 1590px 141px var(--color), 270px 1705px var(--color),
    69px 1423px var(--color), 1108px 1053px var(--color), 1946px 128px var(--color), 371px 371px var(--color),
    1490px 220px var(--color), 357px 1885px var(--color), 363px 363px var(--color), 1896px 1256px var(--color),
    1979px 1050px var(--color), 947px 1342px var(--color), 1754px 242px var(--color), 514px 974px var(--color),
    65px 1477px var(--color), 1840px 547px var(--color), 950px 695px var(--color), 459px 1150px var(--color),
    1124px 1502px var(--color), 481px 940px var(--color), 680px 839px var(--color), 797px 1169px var(--color),
    1977px 1491px var(--color), 734px 1724px var(--color), 210px 298px var(--color), 816px 628px var(--color),
    686px 770px var(--color), 1721px 267px var(--color), 1663px 511px var(--color), 1481px 1141px var(--color),
    582px 248px var(--color), 1308px 953px var(--color), 628px 657px var(--color), 897px 1535px var(--color),
    270px 931px var(--color), 791px 467px var(--color), 1336px 1732px var(--color), 1013px 1653px var(--color),
    1911px 956px var(--color), 587px 816px var(--color), 83px 456px var(--color), 930px 1478px var(--color),
    1587px 1694px var(--color), 614px 1200px var(--color), 302px 1782px var(--color), 1711px 1432px var(--color),
    443px 904px var(--color), 1666px 714px var(--color), 1588px 1167px var(--color), 273px 1075px var(--color),
    1679px 461px var(--color), 721px 664px var(--color), 1202px 10px var(--color), 166px 1126px var(--color),
    331px 1628px var(--color), 430px 1565px var(--color), 1585px 509px var(--color), 640px 38px var(--color),
    822px 837px var(--color), 1760px 1664px var(--color), 1122px 1458px var(--color), 398px 131px var(--color),
    689px 285px var(--color), 460px 652px var(--color), 1627px 365px var(--color), 348px 1648px var(--color),
    819px 1946px var(--color), 981px 1917px var(--color), 323px 76px var(--color), 979px 684px var(--color),
    887px 536px var(--color), 1348px 1596px var(--color), 1055px 666px var(--color), 1402px 1797px var(--color),
    1300px 1055px var(--color), 937px 238px var(--color), 1474px 1815px var(--color), 1144px 1710px var(--color),
    1629px 1087px var(--color), 911px 919px var(--color), 771px 819px var(--color), 403px 720px var(--color),
    163px 736px var(--color), 1062px 238px var(--color), 1774px 818px var(--color), 1874px 1178px var(--color),
    1177px 699px var(--color), 1244px 1244px var(--color), 1371px 58px var(--color), 564px 1515px var(--color),
    1824px 487px var(--color), 929px 702px var(--color), 394px 1348px var(--color), 1161px 641px var(--color),
    219px 1841px var(--color), 358px 941px var(--color), 140px 1759px var(--color), 1019px 1345px var(--color),
    274px 436px var(--color), 1433px 1605px var(--color), 1798px 1426px var(--color), 294px 1848px var(--color),
    1681px 1877px var(--color), 1344px 1824px var(--color), 1439px 1632px var(--color),
    161px 1012px var(--color), 1308px 588px var(--color), 1789px 582px var(--color), 721px 1910px var(--color),
    318px 218px var(--color), 607px 319px var(--color), 495px 535px var(--color), 1552px 1575px var(--color),
    1562px 67px var(--color), 403px 926px var(--color), 1096px 1800px var(--color), 1814px 1709px var(--color),
    1882px 1831px var(--color), 533px 46px var(--color), 823px 969px var(--color), 530px 165px var(--color),
    1030px 352px var(--color), 1681px 313px var(--color), 338px 115px var(--color), 1607px 211px var(--color),
    1718px 1184px var(--color), 1589px 659px var(--color), 278px 355px var(--color), 464px 1464px var(--color),
    1165px 277px var(--color), 950px 694px var(--color), 1746px 293px var(--color), 793px 911px var(--color),
    528px 773px var(--color), 1883px 1694px var(--color), 748px 182px var(--color), 1924px 1531px var(--color),
    100px 636px var(--color), 1473px 1445px var(--color), 1264px 1244px var(--color), 850px 1377px var(--color),
    987px 1976px var(--color), 933px 1761px var(--color), 922px 1270px var(--color), 500px 396px var(--color),
    1324px 8px var(--color), 1967px 1814px var(--color), 1072px 1401px var(--color), 961px 37px var(--color),
    156px 81px var(--color), 1915px 502px var(--color), 1076px 1846px var(--color), 152px 1669px var(--color),
    986px 1529px var(--color), 1667px 1137px var(--color);
}

#stars2:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px var(--color), 1775px 1663px var(--color), 332px 1364px var(--color),
    878px 340px var(--color), 569px 1832px var(--color), 1422px 1684px var(--color), 1946px 1907px var(--color),
    121px 979px var(--color), 1044px 1069px var(--color), 463px 381px var(--color), 423px 112px var(--color),
    523px 1179px var(--color), 779px 654px var(--color), 1398px 694px var(--color), 1085px 1464px var(--color),
    1599px 1869px var(--color), 801px 1882px var(--color), 779px 1231px var(--color), 552px 932px var(--color),
    1057px 1196px var(--color), 282px 1280px var(--color), 496px 1986px var(--color), 1833px 1120px var(--color),
    1802px 1293px var(--color), 6px 1696px var(--color), 412px 1902px var(--color), 605px 438px var(--color),
    24px 1212px var(--color), 234px 1320px var(--color), 544px 344px var(--color), 1107px 170px var(--color),
    1603px 196px var(--color), 905px 648px var(--color), 68px 1458px var(--color), 649px 1969px var(--color),
    744px 675px var(--color), 1127px 478px var(--color), 714px 1814px var(--color), 1486px 526px var(--color),
    270px 1636px var(--color), 1931px 149px var(--color), 1807px 378px var(--color), 8px 390px var(--color),
    1415px 699px var(--color), 1473px 1211px var(--color), 1590px 141px var(--color), 270px 1705px var(--color),
    69px 1423px var(--color), 1108px 1053px var(--color), 1946px 128px var(--color), 371px 371px var(--color),
    1490px 220px var(--color), 357px 1885px var(--color), 363px 363px var(--color), 1896px 1256px var(--color),
    1979px 1050px var(--color), 947px 1342px var(--color), 1754px 242px var(--color), 514px 974px var(--color),
    65px 1477px var(--color), 1840px 547px var(--color), 950px 695px var(--color), 459px 1150px var(--color),
    1124px 1502px var(--color), 481px 940px var(--color), 680px 839px var(--color), 797px 1169px var(--color),
    1977px 1491px var(--color), 734px 1724px var(--color), 210px 298px var(--color), 816px 628px var(--color),
    686px 770px var(--color), 1721px 267px var(--color), 1663px 511px var(--color), 1481px 1141px var(--color),
    582px 248px var(--color), 1308px 953px var(--color), 628px 657px var(--color), 897px 1535px var(--color),
    270px 931px var(--color), 791px 467px var(--color), 1336px 1732px var(--color), 1013px 1653px var(--color),
    1911px 956px var(--color), 587px 816px var(--color), 83px 456px var(--color), 930px 1478px var(--color),
    1587px 1694px var(--color), 614px 1200px var(--color), 302px 1782px var(--color), 1711px 1432px var(--color),
    443px 904px var(--color), 1666px 714px var(--color), 1588px 1167px var(--color), 273px 1075px var(--color),
    1679px 461px var(--color), 721px 664px var(--color), 1202px 10px var(--color), 166px 1126px var(--color),
    331px 1628px var(--color), 430px 1565px var(--color), 1585px 509px var(--color), 640px 38px var(--color),
    822px 837px var(--color), 1760px 1664px var(--color), 1122px 1458px var(--color), 398px 131px var(--color),
    689px 285px var(--color), 460px 652px var(--color), 1627px 365px var(--color), 348px 1648px var(--color),
    819px 1946px var(--color), 981px 1917px var(--color), 323px 76px var(--color), 979px 684px var(--color),
    887px 536px var(--color), 1348px 1596px var(--color), 1055px 666px var(--color), 1402px 1797px var(--color),
    1300px 1055px var(--color), 937px 238px var(--color), 1474px 1815px var(--color), 1144px 1710px var(--color),
    1629px 1087px var(--color), 911px 919px var(--color), 771px 819px var(--color), 403px 720px var(--color),
    163px 736px var(--color), 1062px 238px var(--color), 1774px 818px var(--color), 1874px 1178px var(--color),
    1177px 699px var(--color), 1244px 1244px var(--color), 1371px 58px var(--color), 564px 1515px var(--color),
    1824px 487px var(--color), 929px 702px var(--color), 394px 1348px var(--color), 1161px 641px var(--color),
    219px 1841px var(--color), 358px 941px var(--color), 140px 1759px var(--color), 1019px 1345px var(--color),
    274px 436px var(--color), 1433px 1605px var(--color), 1798px 1426px var(--color), 294px 1848px var(--color),
    1681px 1877px var(--color), 1344px 1824px var(--color), 1439px 1632px var(--color),
    161px 1012px var(--color), 1308px 588px var(--color), 1789px 582px var(--color), 721px 1910px var(--color),
    318px 218px var(--color), 607px 319px var(--color), 495px 535px var(--color), 1552px 1575px var(--color),
    1562px 67px var(--color), 403px 926px var(--color), 1096px 1800px var(--color), 1814px 1709px var(--color),
    1882px 1831px var(--color), 533px 46px var(--color), 823px 969px var(--color), 530px 165px var(--color),
    1030px 352px var(--color), 1681px 313px var(--color), 338px 115px var(--color), 1607px 211px var(--color),
    1718px 1184px var(--color), 1589px 659px var(--color), 278px 355px var(--color), 464px 1464px var(--color),
    1165px 277px var(--color), 950px 694px var(--color), 1746px 293px var(--color), 793px 911px var(--color),
    528px 773px var(--color), 1883px 1694px var(--color), 748px 182px var(--color), 1924px 1531px var(--color),
    100px 636px var(--color), 1473px 1445px var(--color), 1264px 1244px var(--color), 850px 1377px var(--color),
    987px 1976px var(--color), 933px 1761px var(--color), 922px 1270px var(--color), 500px 396px var(--color),
    1324px 8px var(--color), 1967px 1814px var(--color), 1072px 1401px var(--color), 961px 37px var(--color),
    156px 81px var(--color), 1915px 502px var(--color), 1076px 1846px var(--color), 152px 1669px var(--color),
    986px 1529px var(--color), 1667px 1137px var(--color);
}

#stars3 {
  width: 3px;
  height: 3px;
  display: block;
  z-index: -1;
  background: transparent;
  animation: animStar 150s linear infinte;
  box-shadow: 387px 1878px var(--color), 760px 1564px var(--color), 1487px 999px var(--color),
    948px 1828px var(--color), 1977px 1001px var(--color), 1284px 1963px var(--color), 656px 284px var(--color),
    1268px 1635px var(--color), 1820px 598px var(--color), 642px 1900px var(--color), 296px 57px var(--color),
    921px 1620px var(--color), 476px 1858px var(--color), 658px 613px var(--color), 1171px 1363px var(--color),
    1419px 283px var(--color), 1037px 731px var(--color), 503px 663px var(--color), 1562px 463px var(--color),
    383px 1197px var(--color), 1171px 1233px var(--color), 876px 1768px var(--color), 856px 1615px var(--color),
    1375px 1924px var(--color), 1725px 918px var(--color), 952px 119px var(--color), 768px 1212px var(--color),
    992px 1462px var(--color), 1929px 717px var(--color), 1947px 755px var(--color), 1818px 1123px var(--color),
    1896px 1672px var(--color), 460px 198px var(--color), 256px 271px var(--color), 752px 544px var(--color),
    1222px 1859px var(--color), 1851px 443px var(--color), 313px 1858px var(--color), 709px 446px var(--color),
    1546px 697px var(--color), 674px 1155px var(--color), 1112px 130px var(--color), 355px 1790px var(--color),
    1496px 974px var(--color), 1696px 480px var(--color), 1316px 1265px var(--color), 1645px 1063px var(--color),
    1182px 237px var(--color), 427px 1582px var(--color), 859px 253px var(--color), 458px 939px var(--color),
    1517px 1644px var(--color), 1943px 60px var(--color), 212px 1650px var(--color), 966px 1786px var(--color),
    473px 712px var(--color), 130px 76px var(--color), 1417px 1186px var(--color), 909px 1580px var(--color),
    1913px 762px var(--color), 204px 1143px var(--color), 1998px 1057px var(--color), 1468px 1301px var(--color),
    144px 1676px var(--color), 21px 1601px var(--color), 382px 1362px var(--color), 912px 753px var(--color),
    1488px 1405px var(--color), 802px 156px var(--color), 174px 550px var(--color), 338px 1366px var(--color),
    1197px 774px var(--color), 602px 486px var(--color), 682px 1877px var(--color), 348px 1503px var(--color),
    407px 1139px var(--color), 950px 1400px var(--color), 922px 1139px var(--color), 1697px 293px var(--color),
    1238px 1281px var(--color), 1038px 1197px var(--color), 376px 1889px var(--color),
    1255px 1680px var(--color), 1008px 1316px var(--color), 1538px 1447px var(--color),
    1186px 874px var(--color), 1967px 640px var(--color), 1341px 19px var(--color), 29px 1732px var(--color),
    16px 1650px var(--color), 1021px 1075px var(--color), 723px 424px var(--color), 1175px 41px var(--color),
    494px 1957px var(--color), 1296px 431px var(--color), 175px 1507px var(--color), 831px 121px var(--color),
    498px 1947px var(--color), 617px 880px var(--color), 240px 403px var(--color);
}

#stars3:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px var(--color), 760px 1564px var(--color), 1487px 999px var(--color),
    948px 1828px var(--color), 1977px 1001px var(--color), 1284px 1963px var(--color), 656px 284px var(--color),
    1268px 1635px var(--color), 1820px 598px var(--color), 642px 1900px var(--color), 296px 57px var(--color),
    921px 1620px var(--color), 476px 1858px var(--color), 658px 613px var(--color), 1171px 1363px var(--color),
    1419px 283px var(--color), 1037px 731px var(--color), 503px 663px var(--color), 1562px 463px var(--color),
    383px 1197px var(--color), 1171px 1233px var(--color), 876px 1768px var(--color), 856px 1615px var(--color),
    1375px 1924px var(--color), 1725px 918px var(--color), 952px 119px var(--color), 768px 1212px var(--color),
    992px 1462px var(--color), 1929px 717px var(--color), 1947px 755px var(--color), 1818px 1123px var(--color),
    1896px 1672px var(--color), 460px 198px var(--color), 256px 271px var(--color), 752px 544px var(--color),
    1222px 1859px var(--color), 1851px 443px var(--color), 313px 1858px var(--color), 709px 446px var(--color),
    1546px 697px var(--color), 674px 1155px var(--color), 1112px 130px var(--color), 355px 1790px var(--color),
    1496px 974px var(--color), 1696px 480px var(--color), 1316px 1265px var(--color), 1645px 1063px var(--color),
    1182px 237px var(--color), 427px 1582px var(--color), 859px 253px var(--color), 458px 939px var(--color),
    1517px 1644px var(--color), 1943px 60px var(--color), 212px 1650px var(--color), 966px 1786px var(--color),
    473px 712px var(--color), 130px 76px var(--color), 1417px 1186px var(--color), 909px 1580px var(--color),
    1913px 762px var(--color), 204px 1143px var(--color), 1998px 1057px var(--color), 1468px 1301px var(--color),
    144px 1676px var(--color), 21px 1601px var(--color), 382px 1362px var(--color), 912px 753px var(--color),
    1488px 1405px var(--color), 802px 156px var(--color), 174px 550px var(--color), 338px 1366px var(--color),
    1197px 774px var(--color), 602px 486px var(--color), 682px 1877px var(--color), 348px 1503px var(--color),
    407px 1139px var(--color), 950px 1400px var(--color), 922px 1139px var(--color), 1697px 293px var(--color),
    1238px 1281px var(--color), 1038px 1197px var(--color), 376px 1889px var(--color),
    1255px 1680px var(--color), 1008px 1316px var(--color), 1538px 1447px var(--color),
    1186px 874px var(--color), 1967px 640px var(--color), 1341px 19px var(--color), 29px 1732px var(--color),
    16px 1650px var(--color), 1021px 1075px var(--color), 723px 424px var(--color), 1175px 41px var(--color),
    494px 1957px var(--color), 1296px 431px var(--color), 175px 1507px var(--color), 831px 121px var(--color),
    498px 1947px var(--color), 617px 880px var(--color), 240px 403px var(--color);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
